{% extends "layout.html" %}
{% block js %}
<script src="{{ url_for('static', filename='js/messages.js') }}"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/messages.css') }}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="list-group">
    {% for thread in threads %}
    <a href="{{ url_for('user.message_thread', to_username=thread['other_username']) }}"
       class="list-group-item {{ 'list-group-item-success' if thread['has_unread'] }}">
      <div class="row">
        <div class="col col-lg-7">
          <p>
            {% if thread['has_unread'] %} <i class="fa fa-envelope" aria-hidden="true"></i> {% endif %}
            Chat with <strong class="text-primary">{{ thread['other_username'] }}</strong>
          </p>
        </div>
        <div class="col col-lg-5">
          <p class="text-right"><em>{{ thread['last_updated'].strftime('%Y-%m-%d %H:%M') }}</em></p>
        </div>
      </div>
    </a> {% endfor %}
  </div>
</div>
{% endblock %}
