{% extends "layout.html" %}
{% block js %}
<script src="{{ url_for('static', filename='js/messages.js') }}"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/messages.css') }}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="list-group">
    {% for thread in threads %}
    <a href="{{ url_for('user.message_thread', other_username=thread['other_username']) }}"
       class="list-group-item">
      <div class="row">
        <div class="col col-lg-7">
          <p>
            {% if thread['has_unread'] %}
              <span class="label label-warning">New</span>
              <strong class="text-primary">
                Chat with {{ thread['other_username'] }}
              </strong>
            {% else %}
              Chat with {{ thread['other_username'] }}
            {% endif %}
          </p>
        </div>
        <div class="col col-lg-5">
          <p class="text-right"><em>{{ thread['last_updated'].strftime('%Y-%m-%d %H:%M') }}</em></p>
        </div>
      </div>
    </a> {% endfor %}
  </div>
</div>
{% endblock %}
