@import 'variables';

$navbar-default-bg: transparent;
$font-family-sans-serif: $font-stack;
$gray-base: $black-dark;
$brand-primary: $primary-light;
$brand-success: $primary-light;
$brand-info: $primary-dark;
$brand-warning: $warning-light;
$brand-danger: $danger-light;
$border-radius-small: 0px;
$border-radius-base: 0px;
$border-radius-large: 0px;
