body {
  background: url(/static/img/cover-med.jpg) no-repeat center center fixed;  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  color: white;
}

div[role=main] {
  height: 100vh;
}

.jumbotron {
  background: none;
  height: 100vh;
}

.jumbotron > h1 {
  text-transform: uppercase;
}

.jumbotron > p {
  font-size: 22pt;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

footer {
  color: white;
}

footer a {
  color: white;
}
