
{% extends "layout.html" %}

{% block content %}
<div class="body-content jumbotron">
  <div class="row">
    <div class="col-lg-12">
      <h1>About</h1>
      <p>
      This prototype is developed by Cambria Solutions for the Office of Systems Integration (OSI)
      on behalf of the California Health and Human Services (CHHS) Agency using agile development methodology.
      We are building a tool that will empower parents and caseworkers to keep stable, long-term homes for their kids.
      Our goals are to get the best placement for kids, link parents to resources and support, and connect parents and caseworkers.
      </p>


      <p>
      Cambria Solutions is a Sacramento based information technology and management consulting firm.
      We build custom-tailored solutions using ingenuity and a distinctly humanized approach.
      </p>


      <p>
      Cambria’s commitment to serving clients is demonstrated by our award of numerous contract vehicles
      for both state and local government use. If you have an RFP that you’d like to send us, or you would
      like to request a copy of any of these contract vehicles or certifications, please contact us
      via e-mail at <a href="mailto:marketing@cambriasolutions.com">marketing@cambriasolutions.com</a>.
      </p>


      <h2>HumanGenuity®</h2>
      <h3>Without HumanGenuity®, it’s just technology.</h3>
    </div>
  </div>
</div>
{% endblock %}

