
{% extends "layout.html" %}

{% block content %}
<div class="body-content jumbotron">
    <div class="row">
      <div class="col-lg-12">
        <h1>About</h1>
        <p>
        This prototype is developed by Cambria Solutions for the Office of Systems
        Integration (OSI) on behalf of the California Health and Human Services (CHHS)
        Agency using human centered design principles, agile development methodology,
        and open source technologies.
        We are building a tool that will empower foster parents and caseworkers to find
        and provide safe, temporary homes for kids who cannot remain safely in the
        home of their parent(s). Our goals are to get the best temporary placement
        for kids, link foster parents to resources and support, and build a true
        partnership between foster parents and their caseworker that ultimately
        addresses the education, mental and physical well-being of the children.
        </p>


        <p>
        Cambria Solutions is a Sacramento based information technology and management
        consulting firm. We build custom-tailored solutions using ingenuity and a
        distinctly humanized approach.
        </p>


        <h2>HumanGenuity®</h2>
        <h3>Without HumanGenuity®, it’s just technology.</h3>
      </div>
    </div>
</div>
{% endblock %}

