{% extends "layout.html" %}
{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron text-center">
  <h1>Safety, permanency, and well-being</h1>
  <p>A support services center for foster parents.</p>
  <div class="row text-center">

    <div class="col-lg-12">
      <p>
        Login Form Placeholder
      </p>
    </div>

  </div><!-- /.jumbotron -->
</div>
{% endblock %}

