
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Welcome!</h1>

  <p>[Description of the child placement module]</p>
  <p>[Line 2]</p>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row text-center">
    <div class="col-lg-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">New user?</h3>
        </div>
        <div class="panel-body">
          <a class="btn btn-lg btn-default" href="{{ url_for('.register') }}">
            <i class="fa fa-user-plus"></i>
            Create an account &raquo;
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Returning user?</h3>
        </div>
        <div class="panel-body">
          <a class="btn btn-lg btn-default" href="{{ url_for('.login') }}">
            <i class="fa fa-user"></i>
            Log in &raquo;
          </a>
        </div>
      </div>
    </div>
  <div><!-- /.row -->
</div>
{% endblock %}

