{% extends "layout.html" %}
{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron text-center">
  <h1>Safety, permanency, and well-being</h1>
  <p>A support services center for foster parents.</p>
  <div class="arrow"><i class="fa fa-arrow-circle-down fa-4x" aria-hidden="true"></i></div>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row text-center">

    <div class="col-lg-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">New user?</h3>
        </div>
        <div class="panel-body">
          <a class="btn btn-lg btn-default" href="{{ url_for('.register') }}">
            <i class="fa fa-user-plus"></i> Create an account &raquo;
          </a>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Returning user?</h3>
        </div>
        <div class="panel-body">
          <a class="btn btn-lg btn-default" href="{{ url_for('.login') }}">
            <i class="fa fa-user"></i> Log in &raquo;
          </a>
        </div>
      </div>
    </div>

  </div><!-- /.row -->
</div>
{% endblock %}

